@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
    background-color: #E6E6FA;
  background-image: url(./assets//img/bg-img.jpg);
    transition: all .3s ease;
    background-size: 100% 100%;
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.gap-cus-mobile{
  gap: 2rem;
}
.h-screen{
  height: 100dvh !important;
}

.card-cart-blur-bg{
  backdrop-filter: blur(15px) ;
  -webkit-backdrop-filter: blur(15px);

}
